body{
    font-family: Arial;
    margin: 50px;
}
h1{
    text-align: center;
}

h2{
    margin: 0;

}

.item{
    background-color: black;
    color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 4px;
}
span{
    color: yellow;
}

p{
    color: antiquewhite;
}

a{
    background: yellow;
    color: #332200;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
}
